<div class="container-fluid d-flex flex-wrap justify-content-center">
  <div class="row mb-5 justify-content-between">
    <div class="col-md-3 col-xs-12 my-4 text-md-left text-center">
      <h2 class="text-align-left">Featured</h2>
      <p>
        Our plants are 100% organic, we don't use pesticides or harmful
        chemicals.
      </p>
      <p>But please don't eat them</p>
      <button type="button">Shop all Favorites</button>
    </div>
    <div
      class="col-md-3 col-xs-12"
      *ngFor="let feature of featuredProducts$ | async"
    >
      <app-featured-item [listItem]="feature"></app-featured-item>
    </div>
  </div>
</div>
