<div class="container d-flex justify-content-center">
  <!-- Default form login -->
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onLogin()"
    class="text-center border border-light w-75 p-5"
  >
    <p class="h4 mb-4">Sign in</p>
    <!-- Email -->
    <input
      formControlName="email"
      type="email"
      id="defaultLoginFormEmail"
      class="form-control mb-1"
      placeholder="E-mail"
    />
    <app-validation-messages
      [control]="loginForm.controls['email']"
      controlName="email"
    ></app-validation-messages>
    <!-- Password -->
    <input
      formControlName="password"
      type="password"
      id="defaultLoginFormPassword"
      class="form-control mb-1"
      placeholder="Password"
    />
    <app-validation-messages
      [control]="loginForm.controls['password']"
      controlName="password"
    ></app-validation-messages>

    <hr />

    <div class="d-flex justify-content-around">
      <div>
        <!-- Remember me -->
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="defaultLoginFormRemember"
            (change)="onChange($event)"
          />
          <label class="custom-control-label" for="defaultLoginFormRemember"
            >Remember me</label
          >
        </div>
      </div>
      <div>
        <!-- Forgot password -->
        <a href="/auth/forgot-password">Forgot password?</a>
      </div>
    </div>
    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
    <!-- Register -->
    <p>
      Not a member?
      <a href="auth/sign-up">Register</a>
    </p>
    <!-- Social login -->
    <p>or sign in with:</p>
    <a href="#" class="mx-2" role="button"
      ><i class="fab fa-facebook-f light-blue-text"></i
    ></a>
    <a href="#" class="mx-2" role="button"
      ><i class="fab fa-twitter light-blue-text"></i
    ></a>
    <a href="#" class="mx-2" role="button"
      ><i class="fab fa-linkedin-in light-blue-text"></i
    ></a>
    <a href="#" class="mx-2" role="button"
      ><i class="fab fa-github light-blue-text"></i
    ></a>
  </form>
  <!-- Default form login -->
</div>
