<div
  class="container-fluid d-flex flex-wrap justify-content-center __intro-background"
>
  <div class="row align-items-center">
    <div
      class="col-lg-4 col-md-3 col-sm-12 float-md-start text-md-start text-xs-center"
    >
      <h1>Find perfect plants for your home</h1>
      <p>Beautiful plants that encourage you to get creative.</p>
      <button
        type="button"
        class="btn btn-dark font-monospace"
        (click)="goToCatalogue()"
      >
        Shop Now
      </button>
    </div>
    <div class="col-lg-8 col-md-9 col-sm-12">
      <img
        class="img-responsive img-fluid float-end"
        src="https://cdn.sanity.io/images/y346iw48/production/0c468822f08e432abbd1e64e54ae0d7808aea8cb-1500x960.jpg?w=1536&h=983&auto=format"
        alt="Room with plants"
      />
    </div>
  </div>
</div>
