<div class="container bg-light rounded shadow text-center">
  <p class="h5 pt-2 mb-2 text-center text-dark">CART</p>
  <div class="mb-4">
    <span class="text-black-50">No items in cart.</span>
  </div>

  <p class="h5 m-2 text-dark">CATEGORIES</p>

  <div class="mb-4">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckNewArrivals"
      />
      <label class="form-check-label text-black-50" for="flexCheckNewArrivals">
        New arrivals
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckJunglePlants"
      />
      <label class="form-check-label text-black-50" for="flexCheckJunglePlants">
        Jungle plants
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckOutdoorPlants"
      />
      <label
        class="form-check-label text-black-50"
        for="flexCheckOutdoorPlants"
      >
        Outdoor Plants
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckIndoorPlants"
      />
      <label class="form-check-label text-black-50" for="flexCheckIndoorPlants">
        Indoor Plants
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckBedroomPlants"
      />
      <label
        class="form-check-label text-black-50"
        for="flexCheckBedroomPlants"
      >
        Bedroom Plants
      </label>
    </div>
  </div>
  <div class="pb-4">
    <p class="h5 mb-2 text-dark">PRICE RANGE</p>
    <input
      type="range"
      class="form-range"
      min="0"
      max="500"
      step="10"
      id="priceRange"
      value=""
    />
    <label for="priceRange"></label>
  </div>
</div>
