.nav-center {
  justify-content: center;
}

a {
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
}

span {
  color: black;
  font-weight: 300;
  cursor: pointer;
}

span:hover {
  color: #009063;
  font-weight: 700;
  transition: all 0.25s ease-out;
}

.nav-style {
  background-image: linear-gradient(to top, hsla(0, 0%, 100%, 0.95), #f2fff2);
}
