<nav class="navbar navbar-expand-lg navbar-light fixed-top nav-style">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="navigateTo('home')">Rad Plants</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-center" id="navbarResponsive">
      <ul class="navbar-nav m-auto">
        <li *ngFor="let link of centerHeaderLinks" class="nav-item active">
          <span class="nav-link h5" (click)="navigateTo(link.url)">{{
            link.title
          }}</span>
        </li>
      </ul>
      <ul class="navbar-nav nav-left">
        <li *ngFor="let link of rightHeaderLinks" class="nav-item active">
          <span
            *ngIf="isAdmin$ | async"
            class="nav-link h5"
            (click)="navigateTo(link.url)"
            >{{ link.title }}</span
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
