<!-- Default form register -->
<form
  [formGroup]="registerForm"
  (ngSubmit)="onRegister()"
  class="text-center border border-light p-5"
  action="#!"
>
  <p class="h4 mb-4">Sign up</p>

  <div class="form-row mb-4">
    <div class="col">
      <!-- Registration Name -->
      <input
        type="text"
        class="form-control"
        placeholder="Full name"
        formControlName="fullName"
      />
    </div>
    <app-validation-messages
      [control]="registerForm.controls['fullName']"
      controlName="fullName"
    ></app-validation-messages>
  </div>

  <!-- E-mail -->
  <input
    type="email"
    class="form-control mb-4"
    placeholder="E-mail"
    formControlName="email"
  />
  <app-validation-messages
    [control]="registerForm.controls['email']"
    controlName="email"
  ></app-validation-messages>

  <!-- Password -->
  <input
    type="password"
    class="form-control"
    placeholder="Password"
    formControlName="password"
  />
  <app-validation-messages
    [control]="registerForm.controls['password']"
    controlName="password"
  ></app-validation-messages>

  <!-- Confirm Password -->
  <input
    type="password"
    class="form-control"
    placeholder="Confirm Password"
    formControlName="confirmPassword"
  />
  <app-validation-messages
    [control]="registerForm.controls['confirmPassword']"
    controlName="confirmPassword"
  ></app-validation-messages>

  <hr />

  <!-- Sign up button -->
  <button class="btn btn-info my-4 btn-block" type="submit">Register</button>

  <!-- ! for future use -->
  <!-- Social register
  <p>or sign up with:</p>

  <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a> -->

  <hr />

  <!-- Terms of service -->
  <p>
    By clicking <em>Sign up</em> you agree to our
    <a href="" target="_blank">terms of service</a>
  </p>
</form>

<!-- Default form register -->
