* {
  box-sizing: border-box;
}
img {
  width: 600px;
  height: auto;
  object-fit: cover;
}
.card-article {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.card-article:hover .card-image {
  filter: contrast(100%);
}
.card-content {
  padding: 0rem 1rem 1rem 1rem;
}
.card-image {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  filter: contrast(70%);
  transition: filter 0.3s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card-title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  text-decoration: none;
}
.card-text {
  font-size: 0.7rem;
  margin: 0;
  text-decoration: none;
}
.card-info-detail {
  color: darkgray;
  font-size: small;
  text-align: left;
}
.card-info {
  position: relative;
  border-radius: 0.25rem;
  background-color: #ffffff;
  padding: 0.25rem;
  margin: 0;
  z-index: 1;
  width: 150px;
  height: 60px;
  display: inline-block;
  top: -100px;
  left: 500px;
}
