<div class="container d-flex flex-column">
  <div class="row align-items-center justify-content-center g-0 min-vh-80">
    <div class="col-lg-5 col-md-8 py-8 py-xl-0">
      <div class="card-body p-6">
        <div class="mb-4">
          <h1 class="mb-1 h4 text-center">Forgot Password</h1>
          <p class="text-center">Fill the form to reset your password</p>
        </div>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onPasswordReset()">
          <div class="mb-3">
            <input
              formControlName="email"
              type="email"
              class="form-control"
              name="email"
              placeholder="Enter Your Email "
            />
            <app-validation-messages
              [control]="forgotPasswordForm.controls['email']"
              controlName="email"
            ></app-validation-messages>
          </div>
          <div class="mb-3 d-grid">
            <button
              type="submit"
              class="btn btn-outline-success btn-block"
              (click)="onResetPassword()"
              [disabled]="forgotPasswordForm.invalid"
            >
              Send Reset Link
            </button>
          </div>
          <span class="link text-right" (click)="goToLogin()"
            >Return to sign in</span
          >
        </form>
      </div>
    </div>
  </div>
</div>
