<div class="container d-flex flex-column">
  <div class="row align-items-center justify-content-center g-0 min-vh-80">
    <div class="col-lg-5 col-md-8 py-8 py-xl-0">
      <div class="card shadow">
        <div class="card-body p-6">
          <div class="mb-4">
            <h1 class="mb-1 fw-bold">Forgot Password</h1>
            <p>Fill the form to reset your password.</p>
          </div>
          <form>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                id="email"
                class="form-control"
                name="email"
                placeholder="Enter Your Email "
                required
              />
            </div>
            <div class="mb-3 d-grid">
              <button type="submit" class="btn btn-info btn-block">
                Send Reset Link
              </button>
            </div>
            <span class="link" (click)="goToLogin()">Return to sign in</span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
