<!-- Footer -->
<footer class="footer bg-body text-center text-black">
  <div class="container p-4">
    <section>
      <form action="">
        <div class="row d-flex justify-content-center">
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <div class="col-md-5 col-12">
            <div class="form-outline form-white mb-4">
              <input type="email" class="form-control" />
              <label class="form-label">Email address</label>
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
        </div>
      </form>
    </section>
    <section>
      <div class="row d-flex justify-content-between">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Connect</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-black-50">Instagram</a>
            </li>
            <li>
              <a href="#!" class="text-black-50">Facebook</a>
            </li>
            <li>
              <a href="#!" class="text-black-50">Pinterest</a>
            </li>
            <li>
              <a href="#!" class="text-black-50">YouTube</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Resources</h5>
          <ul class="list-unstyled mb-0">
            <!-- todo: consider making an array with all the stuff below and iterate it-->
            <!-- <li *ngFor="let item of links"> -->
            <!-- <a href="#!" (click)="goTo(item.url)" class="text-black-50">{{item.title}}</a> -->
            <!-- </li> -->
            <li>
              <a href="#!" class="text-black-50">Track an Order</a>
            </li>
            <li>
              <a href="#!" class="text-black-50">FAQs</a>
            </li>
            <li>
              <a href="#!" class="text-black-50">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">About</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-black-50">Our story</a>
            </li>
            <li>
              <a href="#!" class="text-black-50">Careers</a>
            </li>
            <li>
              <a href="#!" class="text-black-50">Press</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="text-center p-3">
    ©2022 Copyright:
    <p class="text-black">Gabriel Daniliuc</p>
  </div>
</footer>
